## Project prep
1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
    - cohort pulled from the sql table 
    - sort all the endpoints 
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
    - divided web dev and data science (4 different programs)
    - sort all the endpoints 
    - counts of cohorts accessing same endpoints
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
    - active status indicator 
    - filter by the student being active 
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
    - figure out what constitutes a suspicious IP address
        - any ip addresses from china?
        - figure out general area of ip address
    - how to recognize web scraping
    - SKIP 
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
    - how to classify the endpoints as web dev and not this might be crazy
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
    - active status indicator 
    - each row of a ping would have student_active column - Parker 
    - 
7. Which lessons are least accessed?
    - kind of related to 2
8. Anything else I should be aware of?

1 is related to 7 and 2 

3 is relate to 6

anything extra we find

### Data Frame Must Haves
- log data
- cohort data
- Join on cohort id (Left Join) - Lupe has the join and the drop columns 
- column that has the active student at time of request (yes or no)
- need key for all the program ids (is_data_science maybe) 
- endpoint as a web dev, or data science 
    - Anything came before ada's start date is webdev

In [55]:
# prepare file for anomaly detection exercises
import pandas as pd
import numpy as np

# Vis tools
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans 
from datetime import datetime
# defining some functions to make it easier. will go in Wrangle function
from env import host, password, username
import os
import prepare

In [2]:
###################### Getting database Url ################
def get_db_url(db_name, user=username, host=host, password=password):
    """
        This helper function takes as default the user host and password from the env file.
        You must input the database name. It returns the appropriate URL to use in connecting to a database.
    """
    url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    return url

######################### get generic data #########################
def get_any_data(database, sql_query):
    '''
    put in the query and the database and get the data you need in a dataframe
    '''

    return pd.read_sql(sql_query, get_db_url(database))

In [3]:
def acquire_curriculum_logs(csv_name = "anonymized-curriculum-access-07-2021.txt"):
    '''
    This function reads the csv of curriculum access logs
    If the file name needs to be changed change the default arguement
    '''
    # assign column names to use
    colnames = ['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip']
    # read csv
    df = pd.read_csv(csv_name, 
                 sep="\s", 
                 header=None, 
                 names = colnames, 
                 usecols=[0, 2, 3, 4, 5])
    return df

def make_datetime_index(df, col_name):
    '''
    This function takes in a dataframe 
    A column name of the column that is your date (as string)
    Performs basic to_datetime conversion and sets tha column as the index
    '''
    
    df[col_name] = pd.to_datetime(df[col_name])

    df = df.set_index(col_name)
    
    return df

def prep(df):
    '''
    This function takes in the curriculum log data, and the user number you want to look at
    returns a dataframe of the pages they accessed and when
    '''
    #df = df[df.user_id == user]
    df = make_datetime_index(df, 'date')
    pages = df['endpoint'].resample('d').count()
    return pages

In [4]:
df = pd.read_csv('anonymized-curriculum-access.csv')

In [5]:
dbase = 'curriculum_logs'
sqlquery = 'SELECT * FROM cohorts'

cohorts = get_any_data(dbase, sqlquery)

In [6]:
log_df = df.merge(cohorts, how = 'left', left_on = 'cohort_id', right_on = 'id')

In [7]:
log_df.sample(50)

,Unnamed: 0,date,endpoint,user_id,cohort_id,source_ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
262563,262563,2019-05-09,spring/fundamentals/security,64,28.0,97.105.19.58,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
175356,175356,2018-12-24,java-i,302,27.0,192.171.117.210,27.0,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,None,2.0
807302,807302,2021-02-02,sql/mysql-overview,692,59.0,96.8.130.244,59.0,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,None,3.0
101758,101758,2018-08-09,mysql/users,198,24.0,97.105.19.58,24.0,Voyageurs,#voyageurs,2018-05-29,2018-10-11,2018-05-25 22:25:57,2018-05-25 22:25:57,None,2.0
905168,905168,2021-04-26,anomaly-detection/detecting-with-clustering,835,133.0,173.173.109.5,133.0,Easley,#easley,2020-12-07,2021-06-08,2020-12-07 15:20:18,2020-12-07 15:20:18,None,3.0
249878,249878,2019-04-22,java-iii/servlets,341,29.0,97.105.19.58,29.0,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,None,2.0
199678,199678,2019-02-15,2.01.00_Descriptive_Stats,363,NaN,97.105.19.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557992,557992,2020-05-29,html-css/css-i/selectors-and-properties,667,58.0,68.203.194.78,58.0,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,None,2.0
460399,460399,2020-02-19,javascript-i,564,53.0,97.105.19.58,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
818463,818463,2021-02-11,java-ii/file-io,793,132.0,99.137.94.0,132.0,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,None,2.0
171939,171939,2018-12-17,html-css/css-ii/bootstrap-introduction,11,28.0,97.105.19.58,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
848653,848653,2021-03-16,fundamentals/modern-data-scientist.jpg,900,137.0,67.11.226.248,137.0,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,None,3.0
487783,487783,2020-03-18,appendix/slides,608,56.0,76.218.3.43,56.0,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,None,2.0
583564,583564,2020-06-25,spring/fundamentals/form-model-binding,613,56.0,104.10.49.137,56.0,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,None,2.0
907825,907825,2021-04-27,storytelling/refine-present,896,137.0,162.205.226.39,137.0,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,None,3.0
907958,907958,2021-04-27,java-iii/servlets,821,134.0,136.50.16.223,134.0,Luna,#luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,None,2.0
518710,518710,2020-04-20,java-iii/servlets,457,33.0,70.94.150.75,33.0,Ceres,#ceres,2019-07-15,2019-12-11,2019-07-15 16:57:21,2019-07-15 16:57:21,None,2.0
611931,611931,2020-07-24,java-iii/mvc,635,57.0,75.58.161.186,57.0,Ganymede,#ganymede,2020-03-23,2020-08-20,2020-03-23 17:52:16,2020-03-23 17:52:16,None,2.0
584026,584026,2020-06-26,javascript-ii/es6,604,56.0,32.141.17.86,56.0,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,None,2.0
779550,779550,2021-01-08,html-css/introduction,822,134.0,24.55.13.37,134.0,Luna,#luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,None,2.0
416936,416936,2019-12-17,javascript-i/mapbox-api,532,52.0,97.105.19.58,52.0,Europa,#europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,None,2.0
687636,687636,2020-10-01,javascript-i/introduction,767,62.0,75.1.83.45,62.0,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,None,2.0
624563,624563,2020-08-03,javascript-ii/promises,656,58.0,67.11.56.110,58.0,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,None,2.0
773105,773105,2021-01-03,java-ii/interfaces-and-abstract-classes,753,62.0,72.181.116.86,62.0,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,None,2.0
944325,944325,2021-05-23,mysql,890,135.0,70.239.184.149,135.0,Marco,#marco,2021-01-25,2021-07-19,2021-01-20 21:31:11,2021-01-20 21:31:11,None,2.0
1003925,1003925,2021-07-05,sql/temporary-tables,1050,165.0,70.231.44.241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201146,201146,2019-02-19,jquery/selectors,263,26.0,24.243.8.81,26.0,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,None,2.0
318402,318402,2019-08-10,html-css/css-i/selectors-and-properties,346,29.0,173.173.96.202,29.0,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,None,2.0
165697,165697,2018-12-05,mysql/database-design,272,26.0,97.105.19.58,26.0,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,None,2.0
26279,26279,2018-03-16,javascript-i/introduction/primitive-types,121,23.0,97.105.19.61,23.0,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,None,2.0
54349,54349,2018-05-09,java-ii/interfaces-and-abstract-classes,122,23.0,97.105.19.61,23.0,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,None,2.0
92564,92564,2018-07-27,html-css/css-i/box-model,219,25.0,97.105.19.58,25.0,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,None,2.0
165946,165946,2018-12-06,mysql/relationships/indexes,260,26.0,97.105.19.58,26.0,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,None,2.0
211788,211788,2019-03-04,jquery/essential-methods/traversing,337,29.0,97.105.19.58,29.0,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,None,2.0
517478,517478,2020-04-20,mysql/introduction,567,53.0,72.181.108.107,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
394634,394634,2019-11-12,1-fundamentals/modern-data-scientist.jpg,485,34.0,97.105.19.58,34.0,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,None,3.0
637546,637546,2020-08-12,javascript-i,673,58.0,76.185.237.215,58.0,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,None,2.0
331062,331062,2019-08-24,jquery/events/mouse-events,450,33.0,72.177.228.146,33.0,Ceres,#ceres,2019-07-15,2019-12-11,2019-07-15 16:57:21,2019-07-15 16:57:21,None,2.0
183221,183221,2019-01-24,java-i/syntax-types-and-variables,302,27.0,97.105.19.58,27.0,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,None,2.0
1000880,1000880,2021-07-01,/,900,137.0,67.11.224.115,137.0,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,None,3.0
488100,488100,2020-03-19,java-i/introduction-to-java,571,53.0,97.105.19.58,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
270094,270094,2019-05-21,12.3.2_Building_A_Model,363,NaN,97.105.19.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192224,192224,2019-02-06,javascript-i/introduction/variables,314,17.0,97.105.19.58,17.0,Olympic,#olympic,2017-02-06,2017-05-25,2017-02-06 17:49:10,2017-02-06 17:49:10,None,1.0
144878,144878,2018-10-23,mysql,238,25.0,97.105.19.58,25.0,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,None,2.0
502576,502576,2020-04-05,java-ii/arrays,120,53.0,104.48.213.175,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
977083,977083,2021-06-16,html-css/forms,975,139.0,174.246.201.80,139.0,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,None,2.0
530779,530779,2020-05-02,java-i,566,53.0,67.11.136.146,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
812430,812430,2021-02-05,toc,790,132.0,99.173.134.103,132.0,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,None,2.0
635278,635278,2020-08-11,python/pandas-overview,680,59.0,136.50.56.155,59.0,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,None,3.0
59658,59658,2018-05-24,appendix,157,23.0,97.105.19.61,23.0,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,None,2.0

In [8]:
log_df = log_df.drop(columns = ['Unnamed: 0','slack','created_at','updated_at','deleted_at'])

In [9]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018810 entries, 0 to 1018809
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   date        1018810 non-null  object
 1   endpoint    1018809 non-null  object
 2   user_id     1018810 non-null  int64
 3   cohort_id   965313 non-null   float64
 4   source_ip   1018810 non-null  object
 5   id          954313 non-null   float64
 6   name        954313 non-null   object
 7   start_date  954313 non-null   object
 8   end_date    954313 non-null   object
 9   program_id  954313 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 85.5+ MB

In [10]:
log_df = make_datetime_index(log_df,'date' )

In [11]:
log_df.isnull().value_counts()

endpoint  user_id  cohort_id  source_ip  id     name   start_date  end_date  program_id
False     False    False      False      False  False  False       False     False         954312
                   True       False      True   True   True        True      True           53497
                   False      False      True   True   True        True      True           11000
True      False    False      False      False  False  False       False     False              1
dtype: int64

In [12]:
log_df = log_df.dropna()

In [13]:
log_df.shape

(954312, 9)

In [19]:
log_df.start_date = pd.to_datetime(log_df.start_date.copy())

In [18]:
log_df.end_date = pd.to_datetime(log_df.end_date.copy())

In [29]:
log_df['is_active'] = (log_df.index >= log_df.start_date) & (log_df.index <= log_df.end_date)

In [31]:
log_df.sample(50)

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2020-08-25,java-i,189,24.0,67.11.82.179,24.0,Voyageurs,2018-05-29,2018-10-11,2.0,False
2021-04-06,fundamentals/intro-to-data-science,903,137.0,70.117.8.141,137.0,Florence,2021-03-15,2021-09-03,3.0,True
2020-07-24,/,670,58.0,65.43.116.84,58.0,Hyperion,2020-05-26,2020-11-10,2.0,True
2020-02-06,search/search_index.json,552,53.0,97.105.19.58,53.0,Fortuna,2020-01-13,2020-06-23,2.0,True
2021-06-06,jquery/events/mouse-events,975,139.0,18.222.134.219,139.0,Oberon,2021-04-12,2021-10-01,2.0,True
2018-11-14,java-ii/inheritance-and-polymorphism,277,26.0,97.105.19.58,26.0,Xanadu,2018-09-17,2019-02-08,2.0,True
2021-04-12,classification/classical_programming_vs_machin...,581,28.0,70.112.179.142,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2020-11-09,javascript-i/conditionals,805,132.0,72.179.174.165,132.0,Kalypso,2020-11-02,2021-05-04,2.0,True
2021-07-09,jquery/personal-site,995,1.0,104.51.42.150,1.0,Arches,2014-02-04,2014-04-22,1.0,False
2020-05-13,jquery/events/keyboard-events,643,57.0,173.174.130.38,57.0,Ganymede,2020-03-23,2020-08-20,2.0,True
2019-10-02,java-ii,460,33.0,89.187.164.146,33.0,Ceres,2019-07-15,2019-12-11,2.0,True
2020-04-29,javascript-i/loops,632,57.0,136.50.74.48,57.0,Ganymede,2020-03-23,2020-08-20,2.0,True
2018-02-15,content/php_iii,101,12.0,72.177.135.99,12.0,Joshua,2016-03-08,2016-06-30,1.0,False
2020-05-28,11-nlp/4-prepare,480,34.0,75.1.166.163,34.0,Bayes,2019-08-19,2020-01-30,3.0,False
2020-10-07,spring/fundamentals/repositories,667,58.0,68.203.194.78,58.0,Hyperion,2020-05-26,2020-11-10,2.0,True
2020-12-08,javascript-i/bom-and-dom,800,132.0,173.175.19.30,132.0,Kalypso,2020-11-02,2021-05-04,2.0,True
2019-10-02,spring/fundamentals/repositories,413,32.0,97.105.19.58,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2019-01-24,/,347,29.0,97.105.19.58,29.0,Zion,2019-01-22,2019-06-04,2.0,True
2019-12-26,javascript-i/functions,445,33.0,68.201.192.3,33.0,Ceres,2019-07-15,2019-12-11,2.0,False
2019-12-05,11-nlp/3-acquire,11,28.0,97.105.19.58,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2021-02-24,classification/prep,485,34.0,173.174.142.84,34.0,Bayes,2019-08-19,2020-01-30,3.0,False
2020-03-05,java-iii,526,52.0,97.105.19.58,52.0,Europa,2019-11-04,2020-04-17,2.0,True
2020-04-01,jquery/events,599,56.0,76.184.67.169,56.0,Apex,2020-02-24,2020-07-29,2.0,True
2019-10-28,7-classification/6.2-decision-trees,475,34.0,97.105.19.58,34.0,Bayes,2019-08-19,2020-01-30,3.0,True
2019-04-14,javascript-i/bom-and-dom,383,31.0,76.198.206.28,31.0,Andromeda,2019-03-18,2019-07-30,2.0,True
2019-07-01,javascript-i/objects,412,32.0,97.105.19.58,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2018-03-09,javascript-i/introduction/variables,116,23.0,97.105.19.61,23.0,Ulysses,2018-03-05,2018-07-19,2.0,True
2019-01-22,html-css/introduction,314,28.0,97.105.19.58,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2018-08-19,javascript-i/introduction,233,25.0,107.77.221.152,25.0,Wrangell,2018-07-23,2018-11-29,2.0,True
2020-07-30,spring/extra-features/file-upload,501,51.0,99.100.170.238,51.0,Deimos,2019-09-16,2020-02-27,2.0,False
2020-03-20,java-i/control-statements-and-loops,570,53.0,172.124.67.93,53.0,Fortuna,2020-01-13,2020-06-23,2.0,True
2018-06-19,mkdocs/search_index.json,188,24.0,97.105.19.61,24.0,Voyageurs,2018-05-29,2018-10-11,2.0,True
2020-10-01,java-iii/jsp-and-jstl,291,27.0,45.23.251.14,27.0,Yosemite,2018-11-05,2019-04-03,2.0,False
2018-05-22,mysql/users,171,23.0,97.105.19.61,23.0,Ulysses,2018-03-05,2018-07-19,2.0,True
2020-08-09,spring/fundamentals/repositories,604,56.0,32.141.17.86,56.0,Apex,2020-02-24,2020-07-29,2.0,False
2021-03-08,java-iii/passwords,816,28.0,76.187.230.164,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2018-06-14,/,183,24.0,97.105.19.61,24.0,Voyageurs,2018-05-29,2018-10-11,2.0,True
2019-05-21,java-ii/inheritance-and-polymorphism,381,31.0,97.105.19.58,31.0,Andromeda,2019-03-18,2019-07-30,2.0,True
2021-03-05,search/search_index.json,823,134.0,66.196.21.182,134.0,Luna,2020-12-07,2021-06-08,2.0,True
2018-04-17,jquery/selectors,122,23.0,97.105.19.61,23.0,Ulysses,2018-03-05,2018-07-19,2.0,True
2021-01-22,spring,709,61.0,97.93.179.60,61.0,Bash,2020-07-20,2021-01-21,2.0,False
2018-11-09,html-css/css-ii/media-queries,288,27.0,97.105.19.58,27.0,Yosemite,2018-11-05,2019-04-03,2.0,True
2019-10-07,/,470,34.0,97.105.19.58,34.0,Bayes,2019-08-19,2020-01-30,3.0,True
2021-07-07,java-iii/mvc/accessing-data,920,138.0,67.11.98.144,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2019-12-15,appendix/code-standards/javascript,524,52.0,108.199.117.235,52.0,Europa,2019-11-04,2020-04-17,2.0,True
2019-11-14,html-css/css-i/grid/css-grid-intro,530,52.0,97.105.19.58,52.0,Europa,2019-11-04,2020-04-17,2.0,True
2019-10-24,mysql/introduction,458,33.0,97.105.19.58,33.0,Ceres,2019-07-15,2019-12-11,2.0,True
2018-09-14,appendix,204,24.0,97.105.19.58,24.0,Voyageurs,2018-05-29,2018-10-11,2.0,True
2019-09-06,java-iii,459,22.0,148.66.38.18,22.0,Teddy,2018-01-08,2018-05-17,2.0,False
2019-09-23,javascript-i/javascript-with-html,502,51.0,97.105.19.58,51.0,Deimos,2019-09-16,2020-02-27,2.0,True

In [32]:
active_df = log_df[log_df.is_active == True]

In [37]:
active_df.groupby(by = 'user_id').sum()

         cohort_id        id  program_id  is_active
user_id
2          33902.0   33902.0      3082.0       1541
3          33308.0   33308.0      3028.0       1514
4          15224.0   15224.0      1384.0        692
5          35662.0   35662.0      3242.0       1621
6          28886.0   28886.0      2626.0       1313
...            ...       ...         ...        ...
991       122181.0  122181.0      1758.0        879
993        47260.0   47260.0       680.0        340
994        26966.0   26966.0       388.0        194
1022       29729.0   29729.0       651.0        217
1025       14310.0   14310.0       212.0        106

[741 rows x 4 columns]

In [38]:
inactive_df = log_df[log_df.is_active == False]

In [51]:
(inactive_df[inactive_df['program_id'] == 3]).endpoint.value_counts().head(30)

/                                                                1782
search/search_index.json                                          649
classification/overview                                           368
sql/mysql-overview                                                343
classification/scale_features_or_not.svg                          325
anomaly-detection/AnomalyDetectionCartoon.jpeg                    226
anomaly-detection/overview                                        225
fundamentals/AI-ML-DL-timeline.jpg                                223
fundamentals/modern-data-scientist.jpg                            221
fundamentals/intro-to-data-science                                217
classification/classical_programming_vs_machine_learning.jpeg     187
1-fundamentals/modern-data-scientist.jpg                          130
1-fundamentals/AI-ML-DL-timeline.jpg                              129
1-fundamentals/1.1-intro-to-data-science                          129
classification/prep                                               102
stats/compare-means                                                95
regression/model                                                   93
sql/database-design                                                91
fundamentals/environment-setup                                     91
appendix/postwork                                                  90
6-regression/1-overview                                            86
classification/explore                                             83
timeseries/acquire                                                 81
timeseries/modeling-lesson1                                        80
nlp/acquire                                                        80
python/dataframes                                                  79
classification/evaluation                                          77
classification/acquire                                             75
clustering/wrangle                                                 75
python/intro-to-matplotlib                                         74
Name: endpoint, dtype: int64

In [52]:
def active_status(df, start, end):
    df['is_active'] = (df.index >= df[start]) & (df.index <= df[end])
    return df

In [54]:
active_status(log_df, 'start_date', 'end_date')

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0,True
...,...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0,True

In [56]:
prepare.active_status(log_df, log_df.index, 'start_date','end_date')

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0,True
...,...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0,True