In [1]:
import warnings
warnings.filterwarnings("ignore")

from acquire import user, host, password
import acquire
import prepare

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = acquire.get_joined_curriculum_data()

In [3]:
df.head(3)

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
0,2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [4]:
df.shape

(1018810, 9)

In [5]:
# df.isnull().sum()

In [6]:
# # remove the endpoint that only has '/'
# df = df[df.endpoint != '/']
# df.head(3)

In [7]:
# df.isnull().sum()

In [8]:
# df = df.dropna()

In [9]:
df.isnull().sum()

date          0
endpoint      0
user_id       0
cohort_id     0
source_ip     0
name          0
start_date    0
end_date      0
program_id    0
dtype: int64

In [10]:
df.shape

(1018810, 9)

In [11]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [12]:
# df_cohort_list = list(df.name.value_counts().index)

In [13]:
# df_cohort_list

In [14]:
# df_cohort_df = pd.DataFrame(ds[ds.endpoint != ])

In [15]:
df.program_id.value_counts()

2.0    793025
3.0    131173
0.0     53497
1.0     41110
4.0         5
Name: program_id, dtype: int64

In [16]:
#df.columns

In [17]:
x = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

In [18]:
x.head()

program_id  endpoint
0.0         /                           4527
            search/search_index.json    2018
            javascript-i                 793
            toc                          706
            spring                       655
Name: endpoint, dtype: int64

In [19]:
type(x)

pandas.core.series.Series

In [20]:
x.nlargest(1)

program_id  endpoint
2.0         /           38832
Name: endpoint, dtype: int64

In [21]:
pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

program_id  endpoint
0.0         /                                              4527
            search/search_index.json                       2018
            javascript-i                                    793
            toc                                             706
            spring                                          655
                                                           ...
3.0         wrangle                                           1
4.0         content/html-css                                  2
            /                                                 1
            content/html-css/gitbook/images/favicon.ico       1
            content/html-css/introduction.html                1
Name: endpoint, Length: 4639, dtype: int64

In [22]:
program_list = [1, 2, 3, 4]

In [23]:
df_filtered = prepare.filter_endpoints(df)

In [25]:
for prog in program_list:
        
        program_df = pd.DataFrame(df_filtered).groupby('program_id')['endpoint'].value_counts()
        cep_df = program_df.loc[[prog]]
        cep_df = cep_df.nlargest(2)
        print(cep_df)
        print('\n')

program_id  endpoint
1.0         javascript-i    1144
            index.html      1011
Name: endpoint, dtype: int64


program_id  endpoint
2.0         javascript-i    19383
            java-iii        14155
Name: endpoint, dtype: int64


program_id  endpoint
3.0         classification/overview               2469
            fundamentals/intro-to-data-science    2164
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css                               2
            content/html-css/gitbook/images/favicon.ico    1
Name: endpoint, dtype: int64

In [49]:
# df.endpoint.value_counts().reset_index(name='count').query('count > 217')['index'].tolist()[-6:]

In [50]:
df.describe()

             user_id      cohort_id     program_id
count  963266.000000  963266.000000  963266.000000
mean      505.930839      52.990972       1.983063
std       275.900972      41.688771       0.607688
min         1.000000       0.000000       0.000000
25%       302.000000      27.000000       2.000000
50%       511.000000      34.000000       2.000000
75%       723.000000      59.000000       2.000000
max      1081.000000     166.000000       4.000000

In [28]:
# used 34 because it was 50% of usage for the cohort_id
for prog in program_list:
    program_df = pd.DataFrame(df_filtered).groupby('program_id')['endpoint'].value_counts()
    program_df = program_df[program_df >= 34]
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nsmallest(5)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         content/php_iv/classes-and-objects-ii          34
            slides/object_oriented_programming             34
            content/laravel/quickstart/controllers.html    35
            slides/arrays                                  35
            slides/inheritance_and_polymorphism            35
Name: endpoint, dtype: int64


program_id  endpoint
2.0         2.02.03_Power_Analysis                              34
            3-sql/6.4-limit                                     34
            8-clustering/5.1-kmeans-part-1                      34
            Univariate_Regression_Excel                         34
            10-anomaly-detection/5-detecting-with-clustering    35
Name: endpoint, dtype: int64


program_id  endpoint
3.0         13-advanced-topics/3.8-json-responses              34
            2-storytelling/3.5-creating-dashboards             34
            advanced-topics/developing-data-products           34
            4-python/8.1-ds-libraries-overview                 35
            appendix/professional-development/offer-letters    38
Name: endpoint, dtype: int64


Series([], Name: endpoint, dtype: int64)

In [25]:
# for prog in program_list:
        
#         program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
#         cep_df = program_df.loc[[prog]]
#         cep_df = cep_df.nsmallest(10).
#         print(cep_df)
#         print('\n')

Number 4 is the same for the Front End Program since there were only 2 cohorts in the earlier years of Codeup.  This information may have changed or no longer available since there are no more cohorts that will use this information

In [26]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [27]:
df.head()

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
5,2018-01-26,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [43]:
df.source_ip.unique()

array(['97.105.19.61', '71.137.146.71', '209.205.123.242', ...,
       '172.58.107.70', '143.244.48.195', '107.77.222.9'], dtype=object)