In [1]:
import warnings
warnings.filterwarnings("ignore")

from acquire import user, host, password
import acquire

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = acquire.get_joined_curriculum_data()

In [8]:
df.head(3)

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
0,2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [12]:
df.shape

(1018810, 9)

In [10]:
df.isnull().sum()

date              0
endpoint          1
user_id           0
cohort_id     53497
source_ip         0
name          64497
start_date    64497
end_date      64497
program_id    64497
dtype: int64

In [18]:
# remove the endpoint that only has '/'
df = df[df.endpoint != '/']
df.head(3)

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [19]:
df.isnull().sum()

date              0
endpoint          1
user_id           0
cohort_id     48970
source_ip         0
name          59452
start_date    59452
end_date      59452
program_id    59452
dtype: int64

In [21]:
df = df.dropna()

In [22]:
df.isnull().sum()

date          0
endpoint      0
user_id       0
cohort_id     0
source_ip     0
name          0
start_date    0
end_date      0
program_id    0
dtype: int64

In [23]:
df.shape

(903813, 9)

In [25]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [26]:
df_cohort_list = list(df.name.value_counts().index)

In [27]:
df_cohort_list

['Staff',
 'Ceres',
 'Jupiter',
 'Zion',
 'Fortuna',
 'Deimos',
 'Voyageurs',
 'Ganymede',
 'Marco',
 'Apex',
 'Darden',
 'Teddy',
 'Betelgeuse',
 'Hyperion',
 'Ulysses',
 'Xanadu',
 'Europa',
 'Bayes',
 'Wrangell',
 'Andromeda',
 'Kalypso',
 'Neptune',
 'Luna',
 'Curie',
 'Florence',
 'Yosemite',
 'Arches',
 'Bash',
 'Oberon',
 'Easley',
 'Lassen',
 'Sequoia',
 'Olympic',
 'Kings',
 'Pinnacles',
 'Hampton',
 'Quincy',
 'Glacier',
 'Niagara',
 'Mammoth',
 'Joshua',
 'Ike',
 'Badlands',
 'Franklin',
 'Apollo',
 'Denali']

In [ ]:
# df_cohort_df = pd.DataFrame(ds[ds.endpoint != ])

In [32]:
df.program_id.value_counts()

2.0    752433
3.0    112135
1.0     39241
4.0         4
Name: program_id, dtype: int64

In [31]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [39]:
x = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

In [40]:
x.head()

program_id  endpoint
1.0         javascript-i                                                                 1144
            index.html                                                                   1011
            html-css                                                                      979
            javascript-i/javascript-with-html                                             832
            javascript-i/introduction/working-with-data-types-operators-and-variables     612
Name: endpoint, dtype: int64

In [43]:
type(x)

pandas.core.series.Series

In [45]:
x.nlargest(1)

program_id  endpoint
2.0         javascript-i    19280
Name: endpoint, dtype: int64

In [34]:
pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

program_id  endpoint
1.0         javascript-i                                                                 1144
            index.html                                                                   1011
            html-css                                                                      979
            javascript-i/javascript-with-html                                             832
            javascript-i/introduction/working-with-data-types-operators-and-variables     612
                                                                                         ...
3.0         where                                                                           1
            wrangle                                                                         1
4.0         content/html-css                                                                2
            content/html-css/gitbook/images/favicon.ico                                     1
            content/html-css/introduction.html                                              1
Name: endpoint, Length: 3483, dtype: int64

In [37]:
program_list = [1, 2, 3, 4]

In [46]:
for prog in program_list:
        
        program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
        cep_df = program_df.loc[[prog]]
        cep_df = cep_df.nlargest(3)
        print(cep_df)
        print('\n')

program_id  endpoint
1.0         javascript-i    1144
            index.html      1011
            html-css         979
Name: endpoint, dtype: int64


program_id  endpoint
2.0         javascript-i                19280
            toc                         19221
            search/search_index.json    17012
Name: endpoint, dtype: int64


program_id  endpoint
3.0         search/search_index.json                    2950
            classification/overview                     2455
            classification/scale_features_or_not.svg    2302
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css                               2
            content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
Name: endpoint, dtype: int64

In [51]:
for prog in program_list:
    program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
    program_df = program_df[program_df > 3]
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nsmallest(3)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         1._Fundamentals                  4
            5.0_Intro_Regression             4
            appendix/further-reading/java    4
Name: endpoint, dtype: int64


program_id  endpoint
2.0         1-fundamentals/1-intro-to-data-science    4
            10.2_Regex                                4
            10_Project                                4
Name: endpoint, dtype: int64


program_id  endpoint
3.0         1-fundamentals/2.3-visualization                         4
            1.3-pipeline-demo                                        4
            10-anomaly-detection/3-detecting-timeseries-anomalies    4
Name: endpoint, dtype: int64


Series([], Name: endpoint, dtype: int64)

In [50]:
# for prog in program_list:
        
#         program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
#         cep_df = program_df.loc[[prog]]
#         cep_df = cep_df.nsmallest(10).
#         print(cep_df)
#         print('\n')

program_id  endpoint
1.0         1-fundamentals/2.4-more-excel-features               1
            10-anomaly-detection/1-overview                      1
            10-anomaly-detection/AnomalyDetectionCartoon.jpeg    1
            10.2_Regex                                           1
            11._DistributedML                                    1
            11._DistributedML.md                                 1
            12.01_SocialNetworkAnalysis                          1
            13-advanced-topics/1-tidy-data                       1
            13.5_Tableau                                         1
            2-storytelling/1-overview                            1
Name: endpoint, dtype: int64


program_id  endpoint
2.0         '                                                                1
            .                                                                1
            .git                                                             1
            .gitignore                                                       1
            00_                                                              1
            1._Fundamentals/index.html                                       1
            10-anomaly-detection/2-continuous-probabilistic-methods.ipynb    1
            10-anomaly-detection/2-continuous-probabilistic-methods.md       1
            10-anomaly-detection/3-discrete-probabilistic-methods.ipynb      1
            10-anomaly-detection/isolation-forests                           1
Name: endpoint, dtype: int64


program_id  endpoint
3.0         %20https://github.com/RaulCPena         1
            ,%20https://github.com/RaulCPena        1
            .gitignore                              1
            10_Project                              1
            12-distributed-ml/3-getting-started     1
            12-distributed-ml/4-acquire             1
            12-distributed-ml/5-inspect             1
            12-distributed-ml/6.1-prepare-part-1    1
            12-distributed-ml/6.2-prepare-part-2    1
            12-distributed-ml/6.3-prepare-part-3    1
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
            content/html-css                               2
Name: endpoint, dtype: int64

Number 4 is the same for the Front End Program since there were only 2 cohorts in the earlier years of Codeup.  This information may have changed or no longer available since there are no more cohorts that will use this information

In [53]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [58]:
df.head()

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0
5,2018-01-26,javascript-i/loops,2,22.0,97.105.19.61,Teddy,2018-01-08,2018-05-17,2.0

In [57]:
df.source_ip.value_counts().unique()

array([257736,  57655,   9290,   6519,   5101,   4779,   4528,   4347,
         3824,   3753,   3453,   3203,   3201,   3194,   3104,   2845,
         2839,   2816,   2697,   2683,   2502,   2492,   2462,   2440,
         2402,   2355,   2313,   2255,   2209,   2205,   2202,   2173,
         2147,   2118,   2110,   2072,   2064,   2028,   2022,   1999,
         1997,   1975,   1911,   1906,   1904,   1899,   1880,   1865,
         1863,   1848,   1780,   1759,   1700,   1690,   1683,   1673,
         1671,   1669,   1668,   1660,   1658,   1631,   1625,   1620,
         1618,   1584,   1571,   1567,   1566,   1560,   1533,   1522,
         1513,   1503,   1500,   1488,   1480,   1473,   1448,   1444,
         1441,   1426,   1398,   1395,   1388,   1384,   1376,   1370,
         1357,   1351,   1346,   1342,   1339,   1336,   1331,   1329,
         1326,   1323,   1300,   1293,   1288,   1283,   1281,   1279,
         1277,   1275,   1271,   1263,   1260,   1259,   1250,   1247,
         1229,   1220,   1211,   1210,   1205,   1202,   1189,   1187,
         1175,   1137,   1136,   1135,   1125,   1124,   1123,   1121,
         1118,   1111,   1109,   1106,   1101,   1085,   1080,   1075,
         1063,   1060,   1059,   1058,   1050,   1048,   1045,   1043,
         1028,    996,    991,    990,    989,    986,    983,    981,
          973,    972,    970,    968,    962,    949,    948,    940,
          936,    932,    931,    925,    924,    923,    920,    914,
          913,    911,    903,    900,    898,    897,    896,    884,
          879,    875,    871,    870,    869,    865,    864,    862,
          861,    855,    854,    852,    851,    843,    837,    832,
          828,    822,    812,    809,    808,    804,    802,    800,
          796,    794,    793,    792,    789,    785,    784,    783,
          782,    774,    773,    768,    767,    766,    764,    761,
          758,    751,    750,    747,    746,    745,    741,    730,
          729,    725,    724,    723,    714,    713,    712,    711,
          710,    707,    697,    694,    692,    690,    688,    685,
          684,    679,    675,    674,    673,    668,    666,    664,
          653,    651,    648,    643,    637,    635,    632,    628,
          625,    621,    620,    618,    614,    608,    606,    602,
          599,    596,    595,    594,    592,    590,    588,    583,
          582,    579,    578,    576,    572,    571,    568,    564,
          563,    559,    558,    550,    545,    544,    536,    534,
          532,    531,    528,    520,    518,    516,    515,    513,
          512,    511,    510,    508,    505,    502,    501,    497,
          496,    494,    493,    489,    487,    485,    484,    477,
          475,    474,    472,    469,    466,    460,    458,    456,
          455,    453,    451,    450,    447,    446,    443,    442,
          434,    432,    430,    429,    428,    427,    423,    421,
          419,    418,    417,    416,    414,    413,    412,    407,
          406,    405,    402,    398,    397,    395,    394,    393,
          390,    389,    388,    386,    384,    382,    377,    375,
          373,    371,    369,    365,    362,    361,    358,    354,
          351,    349,    348,    346,    345,    344,    341,    339,
          337,    336,    335,    333,    332,    331,    330,    328,
          327,    325,    323,    322,    319,    317,    315,    314,
          313,    312,    310,    308,    306,    303,    302,    300,
          299,    298,    296,    294,    291,    290,    289,    288,
          287,    286,    285,    284,    283,    282,    281,    279,
          278,    276,    275,    274,    272,    269,    268,    267,
          266,    262,    258,    257,    256,    255,    254,    253,
          252,    249,    248,    246,    244,    243,    241,    240,
          239,    238,    237,    236,    233,    232,    231,    228,
          227,    226,    225,    224,    222,    221,    220,    219,
          218,    217,    216,    214,    213,    212,    211,    210,
          209,    208,    207,    206,    205,    204,    203,    201,
          200,    199,    198,    197,    196,    195,    194,    193,
          192,    191,    190,    189,    188,    187,    185,    184,
          183,    182,    181,    180,    179,    178,    177,    176,
          175,    173,    172,    171,    170,    169,    168,    167,
          166,    165,    164,    163,    162,    161,    160,    159,
          158,    157,    156,    155,    154,    153,    152,    151,
          150,    149,    148,    145,    144,    143,    142,    141,
          139,    138,    137,    136,    135,    134,    133,    132,
          130,    129,    128,    127,    126,    125,    124,    123,
          122,    121,    120,    119,    118,    117,    116,    115,
          114,    113,    112,    111,    110,    109,    108,    107,
          106,    105,    104,    103,    102,    101,    100,     99,
           98,     97,     96,     95,     94,     93,     92,     91,
           90,     89,     88,     87,     86,     85,     84,     83,
           82,     81,     80,     79,     78,     77,     76,     75,
           74,     73,     72,     71,     70,     69,     68,     67,
           66,     65,     64,     63,     62,     61,     60,     59,
           58,     57,     56,     55,     54,     53,     52,     51,
           50,     49,     48,     47,     46,     45,     44,     43,
           42,     41,     40,     39,     38,     37,     36,     35,
           34,     33,     32,     31,     30,     29,     28,     27,
           26,     25,     24,     23,     22,     21,     20,     19,
           18,     17,     16,     15,     14,     13,     12,     11,
           10,      9,      8,      7,      6,      5,      4,      3,
            2,      1])