In [1]:
import warnings
warnings.filterwarnings("ignore")

from acquire import user, host, password
import acquire

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = acquire.get_joined_curriculum_data()

In [8]:
df.head(3)

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
0,2018-01-26,/,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [12]:
df.shape

(1018810, 9)

In [10]:
df.isnull().sum()

date              0
endpoint          1
user_id           0
cohort_id     53497
source_ip         0
name          64497
start_date    64497
end_date      64497
program_id    64497
dtype: int64

In [18]:
# remove the endpoint that only has '/'
df = df[df.endpoint != '/']
df.head(3)

,date,endpoint,user_id,cohort_id,source_ip,name,start_date,end_date,program_id
1,2018-01-26,java-ii,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,2015-09-22,2016-02-06,1.0

In [19]:
df.isnull().sum()

date              0
endpoint          1
user_id           0
cohort_id     48970
source_ip         0
name          59452
start_date    59452
end_date      59452
program_id    59452
dtype: int64

In [21]:
df = df.dropna()

In [22]:
df.isnull().sum()

date          0
endpoint      0
user_id       0
cohort_id     0
source_ip     0
name          0
start_date    0
end_date      0
program_id    0
dtype: int64

In [23]:
df.shape

(903813, 9)

In [25]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [26]:
df_cohort_list = list(df.name.value_counts().index)

In [27]:
df_cohort_list

['Staff',
 'Ceres',
 'Jupiter',
 'Zion',
 'Fortuna',
 'Deimos',
 'Voyageurs',
 'Ganymede',
 'Marco',
 'Apex',
 'Darden',
 'Teddy',
 'Betelgeuse',
 'Hyperion',
 'Ulysses',
 'Xanadu',
 'Europa',
 'Bayes',
 'Wrangell',
 'Andromeda',
 'Kalypso',
 'Neptune',
 'Luna',
 'Curie',
 'Florence',
 'Yosemite',
 'Arches',
 'Bash',
 'Oberon',
 'Easley',
 'Lassen',
 'Sequoia',
 'Olympic',
 'Kings',
 'Pinnacles',
 'Hampton',
 'Quincy',
 'Glacier',
 'Niagara',
 'Mammoth',
 'Joshua',
 'Ike',
 'Badlands',
 'Franklin',
 'Apollo',
 'Denali']

In [ ]:
# df_cohort_df = pd.DataFrame(ds[ds.endpoint != ])

In [32]:
df.program_id.value_counts()

2.0    752433
3.0    112135
1.0     39241
4.0         4
Name: program_id, dtype: int64

In [31]:
df.columns

Index(['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip', 'name',
       'start_date', 'end_date', 'program_id'],
      dtype='object')

In [39]:
x = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

In [40]:
x.head()

program_id  endpoint
1.0         javascript-i                                                                 1144
            index.html                                                                   1011
            html-css                                                                      979
            javascript-i/javascript-with-html                                             832
            javascript-i/introduction/working-with-data-types-operators-and-variables     612
Name: endpoint, dtype: int64

In [43]:
type(x)

pandas.core.series.Series

In [45]:
x.nlargest(1)

program_id  endpoint
2.0         javascript-i    19280
Name: endpoint, dtype: int64

In [34]:
pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()

program_id  endpoint
1.0         javascript-i                                                                 1144
            index.html                                                                   1011
            html-css                                                                      979
            javascript-i/javascript-with-html                                             832
            javascript-i/introduction/working-with-data-types-operators-and-variables     612
                                                                                         ...
3.0         where                                                                           1
            wrangle                                                                         1
4.0         content/html-css                                                                2
            content/html-css/gitbook/images/favicon.ico                                     1
            content/html-css/introduction.html                                              1
Name: endpoint, Length: 3483, dtype: int64

In [37]:
program_list = [1, 2, 3, 4]

In [46]:
for prog in program_list:
        
        program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
        cep_df = program_df.loc[[prog]]
        cep_df = cep_df.nlargest(3)
        print(cep_df)
        print('\n')

program_id  endpoint
1.0         javascript-i    1144
            index.html      1011
            html-css         979
Name: endpoint, dtype: int64


program_id  endpoint
2.0         javascript-i                19280
            toc                         19221
            search/search_index.json    17012
Name: endpoint, dtype: int64


program_id  endpoint
3.0         search/search_index.json                    2950
            classification/overview                     2455
            classification/scale_features_or_not.svg    2302
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css                               2
            content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
Name: endpoint, dtype: int64

In [51]:
for prog in program_list:
    program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
    program_df = program_df[program_df > 3]
    cep_df = program_df.loc[[prog]]
    cep_df = cep_df.nsmallest(3)
    print(cep_df)
    print('\n')

program_id  endpoint
1.0         1._Fundamentals                  4
            5.0_Intro_Regression             4
            appendix/further-reading/java    4
Name: endpoint, dtype: int64


program_id  endpoint
2.0         1-fundamentals/1-intro-to-data-science    4
            10.2_Regex                                4
            10_Project                                4
Name: endpoint, dtype: int64


program_id  endpoint
3.0         1-fundamentals/2.3-visualization                         4
            1.3-pipeline-demo                                        4
            10-anomaly-detection/3-detecting-timeseries-anomalies    4
Name: endpoint, dtype: int64


Series([], Name: endpoint, dtype: int64)

In [50]:
for prog in program_list:
        
        program_df = pd.DataFrame(df).groupby('program_id')['endpoint'].value_counts()
        cep_df = program_df.loc[[prog]]
        cep_df = cep_df.nsmallest(10).
        print(cep_df)
        print('\n')

program_id  endpoint
1.0         1-fundamentals/2.4-more-excel-features               1
            10-anomaly-detection/1-overview                      1
            10-anomaly-detection/AnomalyDetectionCartoon.jpeg    1
            10.2_Regex                                           1
            11._DistributedML                                    1
            11._DistributedML.md                                 1
            12.01_SocialNetworkAnalysis                          1
            13-advanced-topics/1-tidy-data                       1
            13.5_Tableau                                         1
            2-storytelling/1-overview                            1
Name: endpoint, dtype: int64


program_id  endpoint
2.0         '                                                                1
            .                                                                1
            .git                                                             1
            .gitignore                                                       1
            00_                                                              1
            1._Fundamentals/index.html                                       1
            10-anomaly-detection/2-continuous-probabilistic-methods.ipynb    1
            10-anomaly-detection/2-continuous-probabilistic-methods.md       1
            10-anomaly-detection/3-discrete-probabilistic-methods.ipynb      1
            10-anomaly-detection/isolation-forests                           1
Name: endpoint, dtype: int64


program_id  endpoint
3.0         %20https://github.com/RaulCPena         1
            ,%20https://github.com/RaulCPena        1
            .gitignore                              1
            10_Project                              1
            12-distributed-ml/3-getting-started     1
            12-distributed-ml/4-acquire             1
            12-distributed-ml/5-inspect             1
            12-distributed-ml/6.1-prepare-part-1    1
            12-distributed-ml/6.2-prepare-part-2    1
            12-distributed-ml/6.3-prepare-part-3    1
Name: endpoint, dtype: int64


program_id  endpoint
4.0         content/html-css/gitbook/images/favicon.ico    1
            content/html-css/introduction.html             1
            content/html-css                               2
Name: endpoint, dtype: int64

Number 4 is the same for the Front End Program since there were only 2 cohorts in the earlier years of Codeup.  This information may have changed or no longer available since there are no more cohorts that will use this information