## Project prep
1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?
    - cohort pulled from the sql table 
    - sort all the endpoints 
2. Is there a cohort that referred to a lesson significantly more than other cohorts seemed to gloss over?
    - divided web dev and data science (4 different programs)
    - sort all the endpoints 
    - counts of cohorts accessing same endpoints
3. Are there students who, when active, hardly access the curriculum? If so, what information do you have about these students?
    - active status indicator 
    - filter by the student being active 
4. Is there any suspicious activity, such as users/machines/etc accessing the curriculum who shouldnâ€™t be? Does it appear that any web-scraping is happening? Are there any suspicious IP addresses?
    - figure out what constitutes a suspicious IP address
        - any ip addresses from china?
        - figure out general area of ip address
    - how to recognize web scraping
    - SKIP 
5. At some point in 2019, the ability for students and alumni to access both curriculums (web dev to ds, ds to web dev) should have been shut off. Do you see any evidence of that happening? Did it happen before?
    - how to classify the endpoints as web dev and not this might be crazy
6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?
    - active status indicator 
    - each row of a ping would have student_active column - Parker 
    - 
7. Which lessons are least accessed?
    - kind of related to 2
8. Anything else I should be aware of?

1 is related to 7 and 2 

3 is relate to 6

anything extra we find

### Data Frame Must Haves
- log data
- cohort data
- Join on cohort id (Left Join) - Lupe has the join and the drop columns 
- column that has the active student at time of request (yes or no)
- need key for all the program ids (is_data_science maybe) 
- endpoint as a web dev, or data science 
    - Anything came before ada's start date is webdev

In [1]:
# prepare file for anomaly detection exercises
import pandas as pd
import numpy as np

# Vis tools
import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.cluster import KMeans 
from datetime import datetime
# defining some functions to make it easier. will go in Wrangle function
from env import host, password, user
import os
import prepare, acquire

In [2]:
###################### Getting database Url ################
def get_db_url(db_name, user=user, host=host, password=password):
    """
        This helper function takes as default the user host and password from the env file.
        You must input the database name. It returns the appropriate URL to use in connecting to a database.
    """
    url = f'mysql+pymysql://{user}:{password}@{host}/{db_name}'
    return url

######################### get generic data #########################
def get_any_data(database, sql_query):
    '''
    put in the query and the database and get the data you need in a dataframe
    '''

    return pd.read_sql(sql_query, get_db_url(database))

In [3]:
def acquire_curriculum_logs(csv_name = "anonymized-curriculum-access-07-2021.txt"):
    '''
    This function reads the csv of curriculum access logs
    If the file name needs to be changed change the default arguement
    '''
    # assign column names to use
    colnames = ['date', 'endpoint', 'user_id', 'cohort_id', 'source_ip']
    # read csv
    df = pd.read_csv(csv_name, 
                 sep="\s", 
                 header=None, 
                 names = colnames, 
                 usecols=[0, 2, 3, 4, 5])
    return df

def make_datetime_index(df, col_name):
    '''
    This function takes in a dataframe 
    A column name of the column that is your date (as string)
    Performs basic to_datetime conversion and sets tha column as the index
    '''
    
    df[col_name] = pd.to_datetime(df[col_name])

    df = df.set_index(col_name)
    
    return df

def prep(df):
    '''
    This function takes in the curriculum log data, and the user number you want to look at
    returns a dataframe of the pages they accessed and when
    '''
    #df = df[df.user_id == user]
    df = make_datetime_index(df, 'date')
    pages = df['endpoint'].resample('d').count()
    return pages

In [4]:
df = pd.read_csv('anonymized-curriculum-access.csv')

In [5]:
dbase = 'curriculum_logs'
sqlquery = 'SELECT * FROM cohorts'

cohorts = get_any_data(dbase, sqlquery)

In [6]:
log_df = df.merge(cohorts, how = 'left', left_on = 'cohort_id', right_on = 'id')

In [7]:
log_df.sample(50)

,Unnamed: 0,date,endpoint,user_id,cohort_id,source_ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
990916,990916,2021-06-22,java-ii,935,138.0,99.43.138.137,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,None,2.0
287845,287845,2019-06-24,toc,211,28.0,107.77.169.3,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
182989,182989,2019-01-24,java-ii/annotations,292,27.0,97.105.19.58,27.0,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,None,2.0
328306,328306,2019-08-21,1-fundamentals/1.1-intro-to-data-science,481,34.0,97.105.19.58,34.0,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,None,3.0
235145,235145,2019-04-03,javascript-i/functions,393,31.0,97.105.19.58,31.0,Andromeda,#andromeda,2019-03-18,2019-07-30,2019-03-18 20:35:06,2019-03-18 20:35:06,None,2.0
98554,98554,2018-08-06,java-i,200,24.0,97.105.19.58,24.0,Voyageurs,#voyageurs,2018-05-29,2018-10-11,2018-05-25 22:25:57,2018-05-25 22:25:57,None,2.0
955614,955614,2021-06-01,java-iii/mvc/accessing-data,872,135.0,72.177.147.207,135.0,Marco,#marco,2021-01-25,2021-07-19,2021-01-20 21:31:11,2021-01-20 21:31:11,None,2.0
127600,127600,2018-09-20,html-css/css-i/introduction,270,26.0,97.105.19.58,26.0,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,None,2.0
154098,154098,2018-11-09,html-css/css-i/positioning,306,27.0,97.105.19.58,27.0,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,None,2.0
80700,80700,2018-07-01,jquery/events/mouse-events,191,24.0,108.199.115.75,24.0,Voyageurs,#voyageurs,2018-05-29,2018-10-11,2018-05-25 22:25:57,2018-05-25 22:25:57,None,2.0
897297,897297,2021-04-20,python/series,900,137.0,67.11.226.248,137.0,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,None,3.0
800122,800122,2021-01-26,javascript-i/objects,821,134.0,136.50.71.97,134.0,Luna,#luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,None,2.0
737056,737056,2020-11-19,stats/more-statistical-testing-examples,783,59.0,70.120.16.59,59.0,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,None,3.0
330310,330310,2019-08-23,jquery/introduction,449,33.0,97.105.19.58,33.0,Ceres,#ceres,2019-07-15,2019-12-11,2019-07-15 16:57:21,2019-07-15 16:57:21,None,2.0
383045,383045,2019-10-29,7-classification/3-prep,478,34.0,97.105.19.58,34.0,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,None,3.0
143449,143449,2018-10-19,toc,235,25.0,97.105.81.147,25.0,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,None,2.0
919790,919790,2021-05-05,jquery/ajax/requests-and-responses,928,138.0,66.25.145.212,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,None,2.0
121101,121101,2018-09-07,java-iii,40,16.0,70.94.144.103,16.0,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,None,2.0
558828,558828,2020-05-31,javascript-ii/modules,632,57.0,136.50.74.48,57.0,Ganymede,#ganymede,2020-03-23,2020-08-20,2020-03-23 17:52:16,2020-03-23 17:52:16,None,2.0
796969,796969,2021-01-24,appendix/professional-development/professional...,799,132.0,162.195.131.242,132.0,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,None,2.0
937007,937007,2021-05-17,java-iii/mvc/accessing-data,662,58.0,70.120.6.177,58.0,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,None,2.0
433999,433999,2020-01-20,javascript-i/arrays,570,53.0,70.123.202.50,53.0,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,None,2.0
753136,753136,2020-12-07,javascript-i/bom-and-dom,788,132.0,173.175.108.125,132.0,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,None,2.0
969855,969855,2021-06-11,jquery/mapbox-api,991,139.0,67.11.100.82,139.0,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,None,2.0
500721,500721,2020-04-02,4-python/8.5-intro-to-seaborn,589,55.0,70.130.127.113,55.0,Curie,#curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,None,3.0
725252,725252,2020-11-09,javascript-i/introduction/working-with-data-ty...,808,132.0,67.10.130.139,132.0,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,None,2.0
311021,311021,2019-07-30,javascript-i/arrays,124,23.0,107.77.219.68,23.0,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,None,2.0
142597,142597,2018-10-18,mysql/basic-statements,239,25.0,97.105.19.58,25.0,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,None,2.0
380841,380841,2019-10-26,content/php_i,419,32.0,72.181.98.75,32.0,Betelgeuse,#betelgeuse,2019-05-28,2019-10-08,2019-05-28 18:41:05,2019-05-28 18:41:05,None,2.0
1006145,1006145,2021-07-06,java-ii/object-oriented-programming,705,61.0,136.50.68.20,61.0,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,None,2.0
842340,842340,2021-03-10,html-css/css-i/selectors-and-properties,495,51.0,72.191.50.129,51.0,Deimos,#deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,None,2.0
295539,295539,2019-07-10,jquery,426,32.0,97.105.19.58,32.0,Betelgeuse,#betelgeuse,2019-05-28,2019-10-08,2019-05-28 18:41:05,2019-05-28 18:41:05,None,2.0
709176,709176,2020-10-23,java-iii/finish-the-adlister,742,28.0,74.105.240.236,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
1295,1295,2018-01-29,spring/fundamentals/controllers,27,21.0,97.105.19.61,21.0,Sequoia,#sequoia,2017-09-27,2018-02-15,2017-09-27 20:22:41,2017-09-27 20:22:41,None,2.0
239911,239911,2019-04-09,mysql/intellij,326,29.0,97.105.19.58,29.0,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,None,2.0
326321,326321,2019-08-20,1-fundamentals/AI-ML-DL-timeline.jpg,475,34.0,97.105.19.58,34.0,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,None,3.0
800871,800871,2021-01-27,mysql/relationships/joins,773,62.0,70.121.201.159,62.0,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,None,2.0
822898,822898,2021-02-18,spring/fundamentals/views,774,62.0,76.237.209.204,62.0,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,None,2.0
600204,600204,2020-07-15,10-anomaly-detection/1-overview,699,59.0,136.50.70.27,59.0,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,None,3.0
429557,429557,2020-01-14,mysql/clauses/where,497,51.0,97.105.19.58,51.0,Deimos,#deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,None,2.0
95949,95949,2018-08-01,html-css/css-ii/bootstrap-introduction,233,25.0,97.105.19.58,25.0,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,None,2.0
971155,971155,2021-06-12,java-ii/file-io,931,138.0,104.53.212.101,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,None,2.0
161798,161798,2018-11-29,/,37,19.0,71.78.67.37,19.0,Quincy,#quincy,2017-06-05,2017-09-22,2017-06-05 20:12:10,2017-06-05 20:12:10,None,1.0
400592,400592,2019-11-20,html-css/elements,540,52.0,97.105.19.58,52.0,Europa,#europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,None,2.0
902303,902303,2021-04-22,fundamentals/diagram-of-ds-pipeline-fraud-exam...,581,28.0,70.112.179.142,28.0,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,None,2.0
308879,308879,2019-07-26,java-i/methods,412,32.0,97.105.19.58,32.0,Betelgeuse,#betelgeuse,2019-05-28,2019-10-08,2019-05-28 18:41:05,2019-05-28 18:41:05,None,2.0
682945,682945,2020-09-27,/,170,1.0,76.250.226.254,1.0,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,None,1.0
746074,746074,2020-11-30,spring/extra-features/error-pages,735,61.0,47.234.136.72,61.0,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,None,2.0
730969,730969,2020-11-14,/,720,NaN,66.25.163.198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
756345,756345,2020-12-08,fundamentals/AI-ML-DL-timeline.jpg,840,133.0,64.250.10.61,133.0,Easley,#easley,2020-12-07,2021-06-08,2020-12-07 15:20:18,2020-12-07 15:20:18,None,3.0

In [8]:
log_df = log_df.drop(columns = ['Unnamed: 0','slack','created_at','updated_at','deleted_at'])

In [9]:
log_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018810 entries, 0 to 1018809
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   date        1018810 non-null  object
 1   endpoint    1018809 non-null  object
 2   user_id     1018810 non-null  int64
 3   cohort_id   965313 non-null   float64
 4   source_ip   1018810 non-null  object
 5   id          954313 non-null   float64
 6   name        954313 non-null   object
 7   start_date  954313 non-null   object
 8   end_date    954313 non-null   object
 9   program_id  954313 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 85.5+ MB

In [10]:
log_df = make_datetime_index(log_df,'date' )

In [11]:
log_df.isnull().value_counts()

endpoint  user_id  cohort_id  source_ip  id     name   start_date  end_date  program_id
False     False    False      False      False  False  False       False     False         954312
                   True       False      True   True   True        True      True           53497
                   False      False      True   True   True        True      True           11000
True      False    False      False      False  False  False       False     False              1
dtype: int64

In [12]:
log_df = log_df.dropna()

In [13]:
log_df.shape

(954312, 9)

In [14]:
log_df.start_date = pd.to_datetime(log_df.start_date.copy())

In [15]:
log_df.end_date = pd.to_datetime(log_df.end_date.copy())

In [16]:
log_df['is_active'] = (log_df.index >= log_df.start_date) & (log_df.index <= log_df.end_date)

In [17]:
log_df.sample(50)

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2021-05-08,java-i,760,62.0,72.190.237.130,62.0,Jupiter,2020-09-21,2021-03-30,2.0,False
2020-10-06,mysql/databases,778,51.0,66.69.41.190,51.0,Deimos,2019-09-16,2020-02-27,2.0,False
2020-04-14,mysql/basic-statements,428,28.0,70.121.183.95,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2018-06-21,spring/fundamentals/services,127,23.0,97.105.19.61,23.0,Ulysses,2018-03-05,2018-07-19,2.0,True
2018-10-19,appendix/further-reading/javascript/array-splice,270,26.0,97.105.19.58,26.0,Xanadu,2018-09-17,2019-02-08,2.0,True
2020-08-26,html-css,494,51.0,66.25.154.64,51.0,Deimos,2019-09-16,2020-02-27,2.0,False
2021-04-12,html-css,816,28.0,76.187.230.164,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2020-05-15,5-stats/4.4-compare-group-membership,581,55.0,72.190.187.173,55.0,Curie,2020-02-03,2020-07-07,3.0,True
2019-07-19,javascript-ii/modules,418,32.0,97.105.19.58,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2020-10-08,spring/fundamentals/integration-tests,671,58.0,24.243.67.104,58.0,Hyperion,2020-05-26,2020-11-10,2.0,True
2019-07-30,html-css/css-ii/bootstrap-introduction,455,33.0,97.105.19.58,33.0,Ceres,2019-07-15,2019-12-11,2.0,True
2021-03-09,html-css/css-i/box-model,869,135.0,136.50.98.51,135.0,Marco,2021-01-25,2021-07-19,2.0,True
2019-08-30,appendix/cli/4-navigating-the-filesystem,475,34.0,97.105.19.58,34.0,Bayes,2019-08-19,2020-01-30,3.0,True
2019-11-25,javascript-i/javascript-with-html,516,52.0,97.105.19.58,52.0,Europa,2019-11-04,2020-04-17,2.0,True
2018-08-20,examples/javascript/dom-query-js.html,41,21.0,97.105.19.58,21.0,Sequoia,2017-09-27,2018-02-15,2.0,False
2018-08-17,html-css/introduction,231,25.0,97.105.19.58,25.0,Wrangell,2018-07-23,2018-11-29,2.0,True
2021-03-08,java-i/methods,816,28.0,76.187.230.164,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2018-11-27,mysql,234,25.0,97.105.19.58,25.0,Wrangell,2018-07-23,2018-11-29,2.0,True
2020-01-15,html-css/elements,561,53.0,97.105.19.58,53.0,Fortuna,2020-01-13,2020-06-23,2.0,True
2020-06-15,html-css/elements,671,58.0,24.243.67.104,58.0,Hyperion,2020-05-26,2020-11-10,2.0,True
2018-03-22,spring/fundamentals/views,110,21.0,97.105.19.61,21.0,Sequoia,2017-09-27,2018-02-15,2.0,False
2020-05-24,java-ii/inheritance-and-polymorphism,612,56.0,172.14.176.83,56.0,Apex,2020-02-24,2020-07-29,2.0,True
2020-11-24,html-css/forms,275,26.0,76.204.31.63,26.0,Xanadu,2018-09-17,2019-02-08,2.0,False
2019-07-18,spring/setup,64,28.0,97.105.19.58,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2021-02-02,storytelling/present,836,133.0,99.43.137.186,133.0,Easley,2020-12-07,2021-06-08,3.0,True
2018-10-26,jquery/ajax/requests-and-responses,274,26.0,97.105.19.58,26.0,Xanadu,2018-09-17,2019-02-08,2.0,True
2019-04-25,jquery/ajax,380,31.0,97.105.19.58,31.0,Andromeda,2019-03-18,2019-07-30,2.0,True
2020-05-28,html-css,642,57.0,173.174.190.7,57.0,Ganymede,2020-03-23,2020-08-20,2.0,True
2021-04-02,spring/setup,794,132.0,174.48.18.249,132.0,Kalypso,2020-11-02,2021-05-04,2.0,True
2020-07-09,mysql/relationships,677,57.0,71.143.82.236,57.0,Ganymede,2020-03-23,2020-08-20,2.0,True
2019-09-18,java-ii/deployment-and-dependencies,424,32.0,97.105.19.58,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2021-06-10,regression/acquire-and-prep,908,137.0,68.206.160.11,137.0,Florence,2021-03-15,2021-09-03,3.0,True
2019-06-10,html-css/introduction,424,32.0,72.191.19.45,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2019-09-27,3-sql/6.2-where,476,34.0,97.105.19.58,34.0,Bayes,2019-08-19,2020-01-30,3.0,True
2018-02-27,/,60,1.0,70.118.8.243,1.0,Arches,2014-02-04,2014-04-22,1.0,False
2019-07-18,javascript-i/loops,422,32.0,97.105.19.58,32.0,Betelgeuse,2019-05-28,2019-10-08,2.0,True
2020-09-19,java-ii/collections,742,28.0,73.186.43.188,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2019-02-27,jquery/ajax/weather-map,326,29.0,107.77.169.12,29.0,Zion,2019-01-22,2019-06-04,2.0,True
2020-08-03,jquery/ajax/requests-and-responses,606,56.0,76.187.7.114,56.0,Apex,2020-02-24,2020-07-29,2.0,False
2019-04-25,jquery/effects,386,31.0,97.105.19.58,31.0,Andromeda,2019-03-18,2019-07-30,2.0,True
2018-07-03,content/php_iv/gitbook/images/favicon.ico,156,13.0,71.42.84.202,13.0,Kings,2016-05-23,2016-09-15,1.0,False
2018-03-07,/,136,23.0,97.105.19.61,23.0,Ulysses,2018-03-05,2018-07-19,2.0,True
2021-07-13,javascript-i/objects,1012,1.0,70.94.173.4,1.0,Arches,2014-02-04,2014-04-22,1.0,False
2020-12-10,fundamentals/modern-data-scientist.jpg,849,133.0,24.243.22.116,133.0,Easley,2020-12-07,2021-06-08,3.0,True
2020-12-13,5-stats/4.2-compare-means,685,59.0,99.76.233.212,59.0,Darden,2020-07-13,2021-01-12,3.0,True
2020-01-27,html-css,558,53.0,97.105.19.58,53.0,Fortuna,2020-01-13,2020-06-23,2.0,True
2021-07-13,anomaly-detection/overview,1,28.0,66.69.42.44,28.0,Staff,2014-02-04,2014-02-04,2.0,False
2019-02-26,jquery/selectors,344,29.0,173.174.211.206,29.0,Zion,2019-01-22,2019-06-04,2.0,True
2020-03-30,java-i/console-io,556,53.0,172.9.1.31,53.0,Fortuna,2020-01-13,2020-06-23,2.0,True
2018-02-07,/,69,14.0,192.171.117.210,14.0,Lassen,2016-07-18,2016-11-10,1.0,False

In [18]:
active_df = log_df[log_df.is_active == True]

In [19]:
active_df.groupby(by = 'user_id').sum()

         cohort_id        id  program_id  is_active
user_id
2          33902.0   33902.0      3082.0       1541
3          33308.0   33308.0      3028.0       1514
4          15224.0   15224.0      1384.0        692
5          35662.0   35662.0      3242.0       1621
6          28886.0   28886.0      2626.0       1313
...            ...       ...         ...        ...
991       122181.0  122181.0      1758.0        879
993        47260.0   47260.0       680.0        340
994        26966.0   26966.0       388.0        194
1022       29729.0   29729.0       651.0        217
1025       14310.0   14310.0       212.0        106

[741 rows x 4 columns]

In [20]:
inactive_df = log_df[log_df.is_active == False]

In [21]:
(inactive_df[inactive_df['program_id'] == 3]).endpoint.value_counts().head(30)

/                                                                1782
search/search_index.json                                          649
classification/overview                                           368
sql/mysql-overview                                                343
classification/scale_features_or_not.svg                          325
anomaly-detection/AnomalyDetectionCartoon.jpeg                    226
anomaly-detection/overview                                        225
fundamentals/AI-ML-DL-timeline.jpg                                223
fundamentals/modern-data-scientist.jpg                            221
fundamentals/intro-to-data-science                                217
classification/classical_programming_vs_machine_learning.jpeg     187
1-fundamentals/modern-data-scientist.jpg                          130
1-fundamentals/AI-ML-DL-timeline.jpg                              129
1-fundamentals/1.1-intro-to-data-science                          129
classification/prep                                               102
stats/compare-means                                                95
regression/model                                                   93
sql/database-design                                                91
fundamentals/environment-setup                                     91
appendix/postwork                                                  90
6-regression/1-overview                                            86
classification/explore                                             83
timeseries/acquire                                                 81
nlp/acquire                                                        80
timeseries/modeling-lesson1                                        80
python/dataframes                                                  79
classification/evaluation                                          77
clustering/wrangle                                                 75
classification/acquire                                             75
nlp/regular-expressions                                            74
Name: endpoint, dtype: int64

In [22]:
def active_status(df, start, end):
    df['is_active'] = (df.index >= df[start]) & (df.index <= df[end])
    return df

In [23]:
active_status(log_df, 'start_date', 'end_date')

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0,True
...,...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0,True

In [24]:
def make_datetime(df, col_name, set_index = False):
    '''
    This function takes in a dataframe 
    A column name of the column that is your date (as string)
    Performs basic to_datetime conversion and sets tha column as the index
    '''
    if set_index == True:
        df[col_name] = pd.to_datetime(df[col_name])
        df = df.set_index(col_name)
        return df
    else:
        df[col_name] = pd.to_datetime(df[col_name])
    return df

In [25]:
make_datetime(log_df, 'start_date')

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0,True
...,...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0,True

In [26]:
active_df['pings'] = 1

<ipython-input-26-d9354e190a6c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active_df['pings'] = 1

In [27]:
active_df.groupby(by = 'user_id').sum()

         cohort_id        id  program_id  is_active  pings
user_id
2          33902.0   33902.0      3082.0       1541   1541
3          33308.0   33308.0      3028.0       1514   1514
4          15224.0   15224.0      1384.0        692    692
5          35662.0   35662.0      3242.0       1621   1621
6          28886.0   28886.0      2626.0       1313   1313
...            ...       ...         ...        ...    ...
991       122181.0  122181.0      1758.0        879    879
993        47260.0   47260.0       680.0        340    340
994        26966.0   26966.0       388.0        194    194
1022       29729.0   29729.0       651.0        217    217
1025       14310.0   14310.0       212.0        106    106

[741 rows x 5 columns]

In [28]:
active_users = active_df.groupby(by = 'user_id').sum()

In [29]:
active_users.describe().T

,count,mean,std,min,25%,50%,75%,max
cohort_id,741.0,60486.836707,60484.006240,57.0,21450.0,41856.0,78088.0,462434.0
id,741.0,60486.836707,60484.006240,57.0,21450.0,41856.0,78088.0,462434.0
program_id,741.0,2082.519568,1412.083426,2.0,1140.0,1899.0,2826.0,9672.0
is_active,741.0,968.415655,638.915976,1.0,536.0,901.0,1311.0,4786.0
pings,741.0,968.415655,638.915976,1.0,536.0,901.0,1311.0,4786.0

In [30]:
user_pings = pd.DataFrame(active_users['pings'])

In [31]:
user_pings

         pings
user_id
2         1541
3         1514
4          692
5         1621
6         1313
...        ...
991        879
993        340
994        194
1022       217
1025       106

[741 rows x 1 columns]

In [32]:
log_df.describe()

             user_id      cohort_id             id     program_id
count  954312.000000  954312.000000  954312.000000  954312.000000
mean      498.817419      54.436431      54.436431       2.084774
std       274.303663      39.285234      39.285234       0.404666
min         1.000000       1.000000       1.000000       1.000000
25%       282.000000      28.000000      28.000000       2.000000
50%       509.000000      34.000000      34.000000       2.000000
75%       705.000000      59.000000      59.000000       2.000000
max      1082.000000     139.000000     139.000000       4.000000

In [33]:
cohorts = pd.read_csv('full_cohort_list.csv')

In [34]:
cohorts

,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,1,Arches,#arches,2014-02-04,2014-04-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
1,2,Badlands,#badlands,2014-06-04,2014-08-22,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
2,3,Carlsbad,#carlsbad,2014-09-04,2014-11-05,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
3,4,Denali,#denali,2014-10-20,2015-01-18,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
4,5,Everglades,#everglades,2014-11-18,2015-02-24,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
5,6,Franklin,#franklin,2015-02-03,2015-05-26,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
6,7,Glacier,#glacier,2015-06-05,2015-10-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
7,8,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
8,9,Apollo,#apollo,2015-03-30,2015-07-29,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,4
9,10,Balboa,#balboa,2015-11-03,2016-03-11,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,4
10,11,Ike,#ike,2016-01-20,2016-05-12,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
11,12,Joshua,#joshua,2016-03-08,2016-06-30,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
12,13,Kings,#kings,2016-05-23,2016-09-15,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1
13,14,Lassen,#lassen,2016-07-18,2016-11-10,2016-07-18 19:06:27,2016-07-18 19:06:27,NaN,1
14,15,Mammoth,#mammoth,2016-09-26,2017-02-02,2016-09-26 15:58:53,2016-09-26 15:58:53,NaN,2
15,16,Niagara,#niagara,2016-10-26,2017-03-09,2016-10-26 02:34:05,2016-10-26 14:30:19,NaN,2
16,17,Olympic,#olympic,2017-02-06,2017-05-25,2017-02-06 17:49:10,2017-02-06 17:49:10,NaN,1
17,18,Pinnacles,#pinnacles,2017-03-27,2017-07-20,2017-03-28 00:33:12,2017-03-28 00:33:12,NaN,2
18,19,Quincy,#quincy,2017-06-05,2017-09-22,2017-06-05 20:12:10,2017-06-05 20:12:10,NaN,1
19,20,Redwood,#redwood,2017-07-31,2017-12-06,2017-07-31 19:34:11,2017-08-08 21:59:33,NaN,2
20,21,Sequoia,#sequoia,2017-09-27,2018-02-15,2017-09-27 20:22:41,2017-09-27 20:22:41,NaN,2
21,22,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2
22,23,Ulysses,#ulysses,2018-03-05,2018-07-19,2018-03-05 14:22:11,2018-03-05 14:22:11,NaN,2
23,24,Voyageurs,#voyageurs,2018-05-29,2018-10-11,2018-05-25 22:25:57,2018-05-25 22:25:57,NaN,2
24,25,Wrangell,#wrangell,2018-07-23,2018-11-29,2018-07-23 15:02:25,2018-07-23 15:02:25,NaN,2
25,26,Xanadu,#xanadu,2018-09-17,2019-02-08,2018-09-17 19:09:51,2018-09-17 19:09:51,NaN,2
26,27,Yosemite,#yosemite,2018-11-05,2019-04-03,2018-11-05 15:26:37,2018-11-05 15:26:37,NaN,2
27,28,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2
28,29,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,NaN,2
29,30,Ada,#ada,2019-02-04,2019-06-16,2019-02-04 20:13:32,2019-02-04 20:13:32,NaN,3
30,31,Andromeda,#andromeda,2019-03-18,2019-07-30,2019-03-18 20:35:06,2019-03-18 20:35:06,NaN,2
31,32,Betelgeuse,#betelgeuse,2019-05-28,2019-10-08,2019-05-28 18:41:05,2019-05-28 18:41:05,NaN,2
32,33,Ceres,#ceres,2019-07-15,2019-12-11,2019-07-15 16:57:21,2019-07-15 16:57:21,NaN,2
33,34,Bayes,#,2019-08-19,2020-01-30,2019-08-20 14:38:55,2019-08-20 14:38:55,NaN,3
34,51,Deimos,#deimos,2019-09-16,2020-02-27,2019-09-16 13:07:04,2019-09-16 13:07:04,NaN,2
35,52,Europa,#europa,2019-11-04,2020-04-17,2019-11-04 18:27:07,2019-11-04 18:27:07,NaN,2
36,53,Fortuna,#fortuna,2020-01-13,2020-06-23,2020-01-13 21:17:08,2020-01-13 21:17:08,NaN,2
37,55,Curie,#curie,2020-02-03,2020-07-07,2020-02-03 19:31:51,2020-02-03 19:31:51,NaN,3
38,56,Apex,#apex,2020-02-24,2020-07-29,2020-02-24 15:39:33,2020-07-29 18:41:13,NaN,2
39,57,Ganymede,#ganymede,2020-03-23,2020-08-20,2020-03-23 17:52:16,2020-03-23 17:52:16,NaN,2
40,58,Hyperion,#hyperion,2020-05-26,2020-11-10,2020-05-26 19:22:44,2020-05-26 19:22:44,NaN,2
41,59,Darden,#darden,2020-07-13,2021-01-12,2020-07-13 18:32:19,2020-07-13 18:32:19,NaN,3
42,60,Io,#io,2020-07-20,2021-01-21,2020-07-20 13:24:55,2020-09-30 15:54:53,NaN,2
43,61,Bash,#bash,2020-07-20,2021-01-21,2020-07-20 19:04:00,2020-09-30 15:54:46,NaN,2
44,62,Jupiter,#jupiter,2020-09-21,2021-03-30,2020-09-21 18:06:27,2020-09-21 18:06:27,NaN,2
45,132,Kalypso,#kalypso,2020-11-02,2021-05-04,2020-11-02 20:43:58,2020-11-02 20:43:58,NaN,2
46,133,Easley,#easley,2020-12-07,2021-06-08,2020-12-07 15:20:18,2020-12-07 15:20:18,NaN,3
47,134,Luna,#luna,2020-12-07,2021-06-08,2020-12-07 16:58:43,2020-12-07 16:58:43,NaN,2
48,135,Marco,#marco,2021-01-25,2021-07-19,2021-01-20 21:31:11,2021-01-20 21:31:11,NaN,2
49,136,Placeholder for students in transition,#null,2021-03-03,2029-03-01,2021-03-03 21:50:49,2021-03-03 21:52:56,NaN,2
50,137,Florence,#florence,2021-03-15,2021-09-03,2021-03-15 18:18:20,2021-03-15 18:18:20,NaN,3
51,138,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2
52,139,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2
53,140,Polaris,#polaris,2021-05-24,2021-11-16,2021-05-24 21:12:37,2021-05-24 21:12:37,NULL,2
54,165,Germain,#germain,2021-06-14,2021-12-07,2021-06-15 13:29:36,2021-06-15 13:29:36,NULL,3
55,166,Draco,#draco,2021-06-28,2022-01-03,2021-06-27 20:47:56,2021-06-27 20:47:56,NULL,2

In [35]:
log_df = df.merge(cohorts, how = 'left', left_on = 'cohort_id', right_on = 'id')

In [36]:
log_df.value_counts().sum()

11000

In [37]:
log_df

,Unnamed: 0,date,endpoint,user_id,cohort_id,source_ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
0,0,2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
1,1,2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2,2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
3,3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
4,4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1018805,1018805,2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2.0
1018806,1018806,2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2.0
1018807,1018807,2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2.0
1018808,1018808,2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,#neptune,2021-03-15,2021-09-03,2021-03-15 19:57:09,2021-03-15 19:57:09,NaN,2.0
1018809,1018809,2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,#oberon,2021-04-12,2021-10-01,2021-04-12 18:07:21,2021-04-12 18:07:21,NaN,2.0

In [38]:
log_df = log_df.drop(columns = ['Unnamed: 0','slack','created_at','updated_at','deleted_at'])

In [39]:
log_df

,date,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id
0,2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
1,2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
2,2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
3,2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
4,2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...,...,...
1018805,2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0
1018806,2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0
1018807,2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0
1018808,2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0
1018809,2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0

In [40]:
log_df = make_datetime_index(log_df,'date' )

In [41]:
log_df

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id
date,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0
...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0

In [42]:
for x in log_df[['start_date','end_date']]:
    log_df = make_datetime(log_df, x)

In [43]:
prepare.active_status(log_df, log_df.index, 'start_date', 'end_date')

,endpoint,user_id,cohort_id,source_ip,id,name,start_date,end_date,program_id,is_active
date,,,,,,,,,,
2018-01-26,/,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,java-ii/object-oriented-programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,slides/object_oriented_programming,1,8.0,97.105.19.61,8.0,Hampton,2015-09-22,2016-02-06,1.0,False
2018-01-26,javascript-i/conditionals,2,22.0,97.105.19.61,22.0,Teddy,2018-01-08,2018-05-17,2.0,True
...,...,...,...,...,...,...,...,...,...,...
2021-07-15,toc,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-iii/finish-the-adlister,925,138.0,24.26.246.133,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/arrays,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/object-oriented-programming,933,138.0,72.190.28.51,138.0,Neptune,2021-03-15,2021-09-03,2.0,True
2021-07-15,java-ii/file-io,966,139.0,104.191.7.30,139.0,Oberon,2021-04-12,2021-10-01,2.0,True

In [44]:
inactive_df = log_df[log_df.is_active == False]

In [45]:
active_df = log_df[log_df.is_active == True]

In [46]:
active_ping = active_df.groupby(by = 'user_id').sum()

In [47]:
active_ping.sort_values(by = 'is_active').head(50)

         cohort_id       id  program_id  is_active
user_id
918          138.0    138.0         2.0          1
879          135.0    135.0         2.0          1
619           57.0     57.0         2.0          1
940          138.0    138.0         2.0          1
832          186.0    186.0         6.0          3
278           96.0     96.0         8.0          4
539          260.0    260.0        10.0          5
956          834.0    834.0        12.0          6
812          406.0    406.0        14.0          7
388          248.0    248.0        16.0          8
679          649.0    649.0        33.0         11
572          636.0    636.0        24.0         12
941         1656.0   1656.0        24.0         12
697          767.0    767.0        39.0         13
1068        2490.0   2490.0        30.0         15
1060        2490.0   2490.0        30.0         15
889         2160.0   2160.0        32.0         16
487          578.0    578.0        51.0         17
340          522.0    522.0        36.0         18
1059        3154.0   3154.0        38.0         19
1065        3652.0   3652.0        44.0         22
64          1300.0   1300.0        50.0         25
49           525.0    525.0        50.0         25
24           546.0    546.0        52.0         26
772         1612.0   1612.0        52.0         26
1056        4316.0   4316.0        52.0         26
1080        4482.0   4482.0        54.0         27
41           588.0    588.0        56.0         28
1062        4814.0   4814.0        58.0         29
782         5478.0   5478.0        66.0         33
1081        5940.0   5940.0       108.0         36
529         1872.0   1872.0        72.0         36
371         1134.0   1134.0        84.0         42
1078        7304.0   7304.0        88.0         44
1058        7470.0   7470.0        90.0         45
56          1092.0   1092.0       104.0         52
543         1749.0   1749.0       106.0         53
1075        8964.0   8964.0       108.0         54
46          1188.0   1188.0       108.0         54
741         3135.0   3135.0       110.0         55
1066        9462.0   9462.0       114.0         57
1070        9794.0   9794.0       118.0         59
1079        9960.0   9960.0       120.0         60
57          1302.0   1302.0       124.0         62
858         8316.0   8316.0       126.0         63
1071       10790.0  10790.0       130.0         65
36          1365.0   1365.0       130.0         65
45          1365.0   1365.0       130.0         65
1055       10956.0  10956.0       132.0         66
250         1608.0   1608.0       134.0         67

In [48]:
active_ping

         cohort_id       id  program_id  is_active
user_id
2          33902.0  33902.0      3082.0       1541
3          33308.0  33308.0      3028.0       1514
4          15224.0  15224.0      1384.0        692
5          35662.0  35662.0      3242.0       1621
6          28886.0  28886.0      2626.0       1313
...            ...      ...         ...        ...
1076       15438.0  15438.0       186.0         93
1078        7304.0   7304.0        88.0         44
1079        9960.0   9960.0       120.0         60
1080        4482.0   4482.0        54.0         27
1081        5940.0   5940.0       108.0         36

[796 rows x 4 columns]

# acquire use

In [49]:
log_df = acquire.get_joined_curriculum_data()

/Users/parkervoit/Desktop/codeup-data-science/anomaly-detection-project/acquire.py:35: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv(csv_name,